* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "forgotten_rg";
  src: url("Fonts/forgotten_futurist_rg-webfont.woff2") format("woff2");
}

@font-face {
  font-family: "forgotten_bd";
  src: url("Fonts/forgotten_futurist_bd-webfont.woff2") format("woff2");
}

html {
  scroll-behavior: smooth;
  /* scroll-padding-top: 110px; */
}

img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
}

body {
  background-color: #000000;
}

header {
  padding-top: 1.5rem;
  background: rgb(0, 0, 0);
}

header nav ul {
  font-size: 1.4rem;
  font-family: forgotten_rg;
  color: #3bffff;
  display: flex;
  justify-content: space-between;
  list-style: none;
  overflow-x: auto;
  padding-right: 1rem;
  padding-left: 1rem;
}

a:link {
  text-decoration: none;
  color: #3bffff;
}

a:visited {
  text-decoration: none;
  color: #3bffff;
}

#video,
#video_2 {
  /* position: sticky; */
  z-index: -1;
}

#video_2 {
  grid-column: 1/9;
  grid-row: 1/9;
  width: 100vw;
  height: auto;
}

#first_section {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
}

#first_section h1 {
  font-family: forgotten_rg;
  color: #3bffff;
  font-size: 3.5rem;
  grid-column: 4 / 7;
  grid-row: 3;
  margin-top: 1.8rem;
}

#first_section p {
  font-family: forgotten_rg;
  color: #3bffff;
  grid-column: 6 / 8;
  grid-row: 4;
}

@media (max-width: 767px) {
  #video {
    display: none;
  }
}

@media (min-width: 768px) {
  #video_2 {
    display: none;
  }

  #video {
    grid-column: 1/9;
    grid-row: 1/9;
    width: 99vw;
    height: auto;
  }

  #first_section h1 {
    color: #3bffff;
    font-size: 2rem;
    grid-column: 5 / 7;
    grid-row: 4;
  }
  #first_section p {
    color: #3bffff;
    grid-column: 6 / 8;
    grid-row: 5;
  }

  header {
    padding: 2rem 11.5rem;
    background: rgb(0, 0, 0);
  }
}
@media (min-width: 1000px) {
  #video_2 {
    display: none;
  }

  #video {
    grid-column: 1/9;
    grid-row: 1/9;
    width: 99vw;
    height: auto;
  }

  header nav ul {
    justify-content: space-evenly;
  }
  #first_section {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(5, 1fr);
  }

  #first_section h1 {
    color: #3bffff;
    font-size: 8rem;
    grid-column: 5 / 7;
    grid-row: 2;
    margin-top: 1.8rem;
  }
  #first_section p {
    color: #3bffff;
    font-size: 2rem;
    grid-column: 6 / 8;
    grid-row: 3;
    margin-left: 5rem;
  }
  header {
    padding: 2rem 11.5rem;
    background: rgb(0, 0, 0);
  }
}
