* {
  margin: 0;
}

@font-face {
  font-family: "forgotten_rg";
  src: url("Fonts/forgotten_futurist_rg-webfont.woff2") format("woff2");
}

@font-face {
  font-family: "forgotten_bd";
  src: url("Fonts/forgotten_futurist_bd-webfont.woff2") format("woff2");
}

html {
  scroll-behavior: smooth;
  /* scroll-padding-top: 110px; */
}

img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
}

body {
  background-color: #000000;
}

header nav ul {
  font-size: 1.4rem;
  font-family: forgotten_rg;
  color: #3bffff;
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  overflow-x: auto;
  padding-right: 2rem;
}

a:link {
  text-decoration: none;
  color: #3bffff;
}

a:visited {
  text-decoration: none;
  color: #3bffff;
}

#video {
  position: fixed;
  z-index: -1;
}

#first_section {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
}

#first_section h1 {
  font-family: forgotten_rg;
  color: #3bffff;
  font-size: 2rem;
  grid-column: 3 / 7;
  grid-row: 4;
}

#first_section p {
  font-family: forgotten_rg;
  color: #3bffff;
  grid-column: 4 / 8;
  grid-row: 5;
}

@media (min-aspect-ratio: 16/9) {
  #video {
    width: 100%;
    height: auto;
  }
}

@media (max-aspect-ratio: 16/9) {
  #video {
    width: auto;
    height: 100%;
  }
}
@media (max-width: 767px) {
  #video {
    display: none;
  }
  main {
    background: url("Billeder/background_video_poster_lodret.jpg");
    background-size: cover;
  }
}

@media (min-width: 768px) {
  #first_section h1 {
    color: #3bffff;
    font-size: 2rem;
    grid-column: 5 / 7;
    grid-row: 4;
  }
  #first_section p {
    color: #3bffff;
    grid-column: 6 / 8;
    grid-row: 5;
  }
}
@media (min-width: 1000px) {
  #first_section h1 {
    color: #3bffff;
    font-size: 8rem;
    grid-column: 5 / 7;
    grid-row: 3;
  }
  #first_section p {
    color: #3bffff;
    font-size: 2rem;
    grid-column: 7 / 8;
    grid-row: 4;
  }
}
