* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "forgotten_rg";
  src: url("Fonts/forgotten_futurist_rg-webfont.woff2") format("woff2");
}

@font-face {
  font-family: "forgotten_bd";
  src: url("Fonts/forgotten_futurist_bd-webfont.woff2") format("woff2");
}

html {
  scroll-behavior: smooth;
}

img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
}

body {
  background-color: #000000;
  overflow-x: hidden;
}

/* Burgermenu */

.hidden {
  transform: translateX(-100%);
  opacity: 0;
}

#menuknap {
  display: inline-block;
  color: #3bffff;
  font-size: 2rem;
  cursor: pointer;
}

#menu {
  list-style-type: none;
  transition: transform 0.3s ease-in-out;
  transform-origin: top left;
  background-color: rgb(32, 0, 61);
  width: 50vw;
  padding: 1rem;
  font-size: 2rem;
  font-family: forgotten_rg, Verdana, sans-serif;
  letter-spacing: 0.4rem;
}

h1 {
  font-family: forgotten_rg, Verdana, sans-serif;
  color: #3bffff;
  font-size: 3.5rem;
  z-index: 10;
  letter-spacing: 0.1rem;
}

h2 {
  font-family: forgotten_rg, Verdana, sans-serif;
  color: #3bffff;
  font-size: 1.2rem;
  z-index: 10;
  letter-spacing: 0.1rem;
}

p {
  font-family: "Poppins", sans-serif;
  max-width: 60ch;
  z-index: 10;
  letter-spacing: 0.1rem;
}

h5 {
  color: #3bffff;
  font-family: forgotten_rg, Verdana, sans-serif;
  z-index: 10;
}

a:link {
  text-decoration: none;
  color: #3bffff;
}

a:visited {
  text-decoration: none;
  color: #3bffff;
}

#video,
#video_2 {
  z-index: -1;
}

#video_2 {
  grid-column: 1/9;
  grid-row: 1/6;
  width: 100vw;
  height: auto;
}

#first_section {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(5, 1fr);
}

#first_section h1 {
  font-size: 3.5rem;
  grid-column: 3 / 7;
  grid-row: 2;
  margin-top: 1.8rem;
}

#first_section p {
  font-family: forgotten_rg;
  color: #3bffff;
  grid-column: 5 / 8;
  grid-row: 3;
  margin-left: 1.2rem;
  margin-top: -1rem;
}

#second_section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  max-width: 1200px;
  margin: 0 auto;
}

#third_section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  max-width: 1200px;
  margin: 0 auto;
}

.overskrift_wrapper {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: 1fr 0.5fr;
}

.overskrift {
  grid-column: 4;
  grid-row: 1;
}

.underskrift {
  grid-column: 5/8;
  grid-row: 2;
  margin-left: -3rem;
}

.content_wrapper {
  background-color: rgb(32, 0, 61);
  width: 70vw;
  grid-column: 2/3;
  grid-row: 1;
  padding: 2rem;
  margin-bottom: 3rem;
}
.content_wrapper_about {
  background-color: rgb(32, 0, 61);
  width: 70vw;
  grid-column: 2/3;
  grid-row: 1;
  padding: 2rem;
  margin-bottom: 3rem;
}

.info_text {
  color: #3bffff;
}

#pic_container img {
  margin-top: 2rem;
}

.footer_text {
  display: grid;
  background: rgb(32, 0, 61);
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(7, 1fr);
  width: 100vw;
}

#navn {
  font-size: 1rem;
  grid-column: 4;
  grid-row: 3;
  letter-spacing: 0.2em;
}

#mail {
  font-size: 1rem;
  grid-column: 4;
  grid-row: 5;
  margin-left: 4rem;
  letter-spacing: 0.2em;
}

/* //MEDIA QUERIES */

@media (max-width: 767px) {
  #video {
    display: none;
  }
}

@media (min-width: 768px) {
  #video_2 {
    display: none;
  }

  #menuknap {
    display: none;
  }

  #menu.hidden {
    transform: translateY(0);
    opacity: 1;
  }

  #menu {
    display: flex;
    list-style-type: none;
    font-size: 1.4rem;
    font-family: forgotten_rg;
    letter-spacing: 0.4rem;
    background-color: rgb(0, 0, 0);
    width: 100vw;
    justify-content: space-between;
    padding-right: 1rem;
    padding-left: 1rem;
    letter-spacing: 0.1rem;
    margin: 0 auto;
  }

  #first_section {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }

  #second_section {
    margin-top: 3rem;
  }

  #video {
    grid-column: 1/9;
    grid-row: 1/9;
    width: 100vw;
    height: auto;
  }

  #first_section h1 {
    font-size: 5rem;
    grid-column: 5 / 7;
    grid-row: 2;
    margin-top: 2.5rem;
  }
  #first_section p {
    font-size: 1.5rem;
    grid-column: 6 / 8;
    grid-row: 3;
    margin-left: 3.8rem;
  }

  #pic_container {
    object-fit: cover;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0.5rem;
  }
}
@media (min-width: 1200px) {
  h1 {
    font-size: 8.5rem;
  }

  #video_2 {
    display: none;
  }

  #video {
    grid-column: 1/9;
    grid-row: 1/9;
    width: 100vw;
    height: auto;
  }

  header nav ul {
    justify-content: space-evenly;
  }
  #first_section {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(5, 1fr);
  }

  #first_section h1 {
    font-size: 8rem;
    grid-column: 5 / 7;
    grid-row: 2;
    margin-top: 1.8rem;
  }
  #first_section p {
    font-size: 2rem;
    grid-column: 6 / 8;
    grid-row: 3;
    margin-left: 5rem;
  }
  header {
    padding: 2rem 11.5rem;
    background: rgb(0, 0, 0);
  }
  #second_section {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  #pic_container {
    object-fit: cover;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
  }

  #pic_container img {
    height: 10vw;
    width: auto;
    margin: 0 auto;
    margin-top: 2rem;
  }

  .info_text p {
    font-size: 1.3vw;
    max-width: 80vw;
  }
}

/* @media (orientation: portrait) and (max-width: 667px) {
  #video_2 {
    display: none;
  }

  #video {
    display: block;
    grid-column: 1/9;
    grid-row: 1/4;
    width: 50vw;
    height: auto;
  }

#first_section {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(5, 1fr);
  }

  }
  #first_section p {
    color: #3bffff;
    font-size: 2rem;
    grid-column: 6 / 8;
    grid-row: 4;
    margin-left: 5rem;
  }
} */
