* {
  margin: 0;
}

html {
  scroll-behavior: smooth;
  /* scroll-padding-top: 110px; */
}

img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;

  /* margin-top: 10px;
    margin-bottom: 10px; */
}

body {
  background-color: #000000;
}

header nav ul {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  overflow-x: auto;
  padding-right: 2rem;
}

li {
  text-decoration: none;
  list-style: none;
}

#video {
  position: fixed;
  z-index: -1;
}

@media (min-aspect-ratio: 16/9) {
  #video {
    width: 100%;
    height: auto;
  }
}

@media (max-aspect-ratio: 16/9) {
  #video {
    width: auto;
    height: 100%;
  }
}
@media (max-width: 767px) {
  #video {
    display: none;
  }
  body {
    background: url("Billeder/background_video_poster_lodret.jpg");
    background-size: cover;
  }
}
